
frontend/**                   linguist-vendored


node_modules/**               linguist-vendored
**/__pycache__/**             linguist-generated
**/*.pyc                      linguist-generated
backend/.venv/**              linguist-vendored
frontend/.next/**             linguist-generated
frontend/dist/**              linguist-generated
frontend/out/**               linguist-generated
frontend/public/**            linguist-vendored
package-lock.json             linguist-vendored
pnpm-lock.yaml                linguist-vendored
yarn.lock                     linguist-vendored


backend/**                    linguist-language=Python
